.header-class{
    height: 100px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #909090;
    align-items: center;
    font-size: 1em;
}
.fa-chart-bar{
    color: #444;
    font-size: 60px;
}
.title{
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    color: #444;
    margin: 0 27px;
}